<div class="row rules-margin-30">
    <div class="col-lg-4">
      <div class="rules-margin-15">
        <img src="../../assets/img/rules/withoutOtherAnimals.png">
        <h2>Заходити на територію зоопарку з тваринами</h2>
        <p>Цей захід обережності введений для того, щоб не допустити можливість зараження наших тварин хворобами ззовні.</p>
      </div>
    </div>
  <div class="col-lg-4">
    <div class="rules-margin-15">
      <img src="../../assets/img/rules/alcohol.png">
      <h2> Заходити на територію зоопарку в стані алкогольного або наркотичного сп'яніння. </h2>
      <p>Зоопарк - установа підвищеної небезпеки, в якому людина, у разі своєї нездатності контролювати свою поведінку, може отримати серйозні травми.</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="rules-margin-15">
      <img src="../../assets/img/rules/childrenWithoutParents.png">
      <h2> Залишати дітей без нагляду.</h2>
      <p></p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="rules-margin-15">
      <img src="../../assets/img/rules/distance.png">
      <h2>Просовувати руки крізь грати і сітки вольєрів.</h2>
      <p>Навіть безпечна, на перший погляд, тварина може нанести травму.
        Адже тварини в зоопарку, за рідкісним винятком, не ручні і можуть нападати.</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="rules-margin-15">
      <img src="../../assets/img/rules/feedAnimals.png">
      <h2>Годувати тварин.</h2>
      <p>Для кожної тварини в зоопарку фахівцями розрахований спеціальний раціон харчування, що включає в себе все необхідне для здоров'я тварини. Всі частування, навіть натуральні фрукти і овочі (не кажучи вже про шкідливіта небезпечні корма ненатурального походження), які Ви пропонуєте нашим тваринам, йдуть їм понад кормової норми, що призводить до захворювань і передчасної смерті.</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="rules-margin-15">
      <img src="../../assets/img/rules/flash.png">
      <h2>Фотографувати тварин зі спалахом.</h2>
      <p>Будь-які різкі подразники: стук, крик або спалах фотоапарата, викликають у тварин стрес.</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="rules-margin-15">
      <img src="../../assets/img/rules/zone.png">
      <h2>Перелазити через огорожі, ставити на них дітей.</h2>
      <p></p>
    </div>
  </div>
</div>
