<div class="album py-5 bg-light">
  <div class="container">
    <div class="col-xs-12 bottommargin-sm">
      <div class="heading-block">
        <h1>Познайомтесь з нашими тваринками</h1>
        <span>Відкрийте для себе унікальних тварин і місця їх проживання</span>
      </div>
      <p>
        Тут стільки всього цікавого, на що можна подивитися, що ми навіть і не знаємо з чого або кого саме почати. Зоопарк населяють понад вісімдесят видів найрізноманітніших тварин - це і екзотичні, і ті, хто під загрозою зникнення, все вони приїхали до нас з самих різних точок земної кулі.
      </p>
      <p>Таким чином, наш зоопарк робить свій внесок в збереження рідкісних тварин на планеті. Це неймовірно важлива робота, не тільки тому, що тварини прекрасні, але й із-за того, що відбувається з дикою природою - зачіпає все живе на Землі.
      </p>
      <p>У вас є можливість дізнатися більше цікавого, захоплюючого про цей дивовижий світ, його жителів і його середовищ.
      </p>
      <div class="row margin-12" >
        <h3>Оберіть тварину для детального вивчення:</h3>
      </div>

    </div>
    <div class="row">
      <div *ngFor="let animal of animalService.animals; index as i" class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="row margin-12">
              <h5> {{animal.name}}</h5>
          </div>
          <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <image xlink:href="{{animal.picture}}" x="0" y="0" height="100%" width="100%" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>-->
          <div class="img">
            <img src="{{animal.picture}}" alt="">
          </div>
          <div class="card-body">
            <p *ngIf="animal.toggle" class="card-text">{{animal.description | slice:0:65}}...</p>
            <p *ngIf="!animal.toggle" class="card-text">{{animal.description}}...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button (click)="animal.toggle = !animal.toggle" type="button" class="btn btn-sm btn-outline-secondary">{{animal.toggle ? 'детальніше' : 'приховати'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
