.img {
  display: flex;
  order: 0;
  align-items: center;
  justify-content: center;
  height: 750px;
}
.img  img{
  height: 100%;
  width: 100%;
  object-fit: contain;}
.margin-12{
  margin: 12px;
}
