<app-slider></app-slider>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div  class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Тварини</h6>
        <div *ngFor="let a of animals | slice: 0: 5" class="media text-muted pt-3">
          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text></svg>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">{{a.name}}</strong>
            </div>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a [routerLink]="['/animals']">Усі тварини</a>
        </small>
      </div>
    </div>
    <div class="col-6">
      <div  class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Новини</h6>
        <div *ngFor="let n of news | slice: 0: 5" class="media text-muted pt-3">
          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em"></text></svg>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">{{n.name}}</strong>
            </div>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a [routerLink]="['/news']">Усі новини</a>
        </small>
      </div>
    </div>
  </div>
</div>
